<h3>Agregar libro al Stock:</h3>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="Titulo" [(ngModel)]="titulo" required>
        <label for="floatingInput">Titulo</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="Autor" [(ngModel)]="autor" required>
        <label for="floatingPassword">Autor</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="Tema" [(ngModel)]="tema" required>
        <label for="floatingPassword">Tema</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="Editorial" [(ngModel)]="editorial" required>
        <label for="floatingPassword">Editorial</label>
    </div>

    <div class="form-floating mb-3">
        <input type="number" class="form-control" placeholder="Cantidad" [(ngModel)]="stock" required>
        <label for="floatingPassword">Cantidad</label>
    </div>

    <div class="form-floating mb-3">
        <input type="number" class="form-control" placeholder="Precio" [(ngModel)]="precio" required>
        <label for="floatingPassword">Precio</label>
    </div>
    <button class="btn btn-primary" (click)="addBook()">Agregar</button>