<h3>Lista de Libros:</h3>
<table class="table text-center">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Tema</th>
            <th>Editorial</th>
            <th>Disponible</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books" [ngClass]="{'oferta': book.oferta}">
            <td><img width="90" class="img-thumbnail" [src]="book.imagen" [alt]="book.titulo"></td>
            <td>{{book.titulo}}</td>
            <td>{{book.autor}}</td>
            <td>{{book.tema}}</td>
            <td>{{book.editorial}}</td>
            <td>
                <span class="badge text-bg-warning" *ngIf="book.stock == 0">Agotado!</span>
                <span *ngIf="book.stock != 0">{{book.stock}}</span>
            </td>
            <td>{{book.precio| currency}}</td>
            <td>
                <input type="image" src="/assets/trash3.svg" width="25" height="25" (click)="remove(book)">
                <input type="image" src="/assets/pencil-square.svg" width="25" height="25">
            </td>
        </tr>
    </tbody>
</table>