<article>
    <section>
        <h2>Ciencia, Misterio, Drama y mucho más! Tenemos ese libro para vos </h2>
        <p>Hoy en día la lectura es fundamental, hasta se podría decir que es uno de los mayores pilares para transmitir y adquirir conocimientos en la vida en general pero especialmente en la vida académica. La lectura es la vía principal de acceso al conocimiento pero además es una actividad que se encuentra implicada en la mayoría de las actividades de nuestra vida diaria. También gracias a leer se aprenden las reglas de ortografía y aumentamos nuestro vocabulario, así como nuestra capacidad de expresión.</p> 
    </section>

    <section>
        <h2>Beneficios de la lectura:</h2>
        <ul>
            <li><p>Reduce el estrés</p></li>
            <li><p>Activa la memoria a corto y largo plazo</p></li>
            <li><p>Leer mejora el sueño</p></li>
            <li><p>Expande tu vocabulario</p></li>
            <li><p>Mejora las habilidades expresivas</p></li>
            <li><p>Mejora tus relaciones interpersonales</p></li>
        </ul>
    </section>
</article>

<div>
    <h2>Esperamos que puedas encontrar aqui ese libro que buscas, te dejamos una lista de los ultimos libros que agregamos a nuestro stock:</h2>
    <h3>Ultimos Libros añadidos al Stock:</h3>
    <ol>
        <li><p>El tránsito terreno de Plasencia, Juan Luis</p></li>
        <li><p>Sistemas operativos, Bazilian Eric</p></li>
        <li><p>Poemas intrínsecos, Llorens Antonia</p></li>
        <li><p>Avances en Arquitectura, Richter, Helmut</p></li>
        <li><p>Las balas del bien, Leverling, Janet</p></li>
        <li><p>La mente y el sentir, Plasencia, Juan Luis</p></li>
        <li><p>Ensayos póstumos, Bertomeu, Andrés</p></li>
        <li><p>La dualidad aparente, Sanabria, Carmelo</p></li>
    </ol>
</div>