<article>
    <section>
        <h2>Acerca de Libreria del Centro</h2>
        <h3>Nosotros</h3>
        <p>Somos una librería nacida en la Provincia de Buenos Aires, Argentina en Abril de 2022.</p>
        <p>Desde el primer día hemos trabajado incansablemente para ofrecerles a nuestros clientes las mejores instalaciones, óptima calidad de atención y variedad para sus elecciones.</p>
        <p>Aspiramos a complacer y a hacer crecer nuestro público lector y queremos que visitar nuestros locales sea "el mejor paseo del día".</p>
        <p>Nuestra ambición es una gran comunidad con mayor sentido crítico y mayor conocimiento.</p>
    </section>
</article>
